body {
	position: relative;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: #000;
	min-width: 320px;
	overflow-x: hidden;
	height: auto;
}
.image{
  margin-bottom: 10px;
	
}

.image img{
  object-fit: cover;
  height: 300px;
  width: 300px;
  border-radius 7px;
}

.info h3{
  font-size: 21px;
  margin-bottom: 0;
}

.rating {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.rating li {
  display: inline-block; 
  color: #ffc107;
}

.info-price {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  mardin-top: 10px;
}

.add-to-cart {
  border: none;
  width: 50px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: #fff;
  border-radius: 10px;
}

.price {
  font-weight: 700;
  font-size: 18px;

box {
  width: 300px;
  border: 5px solid black;
  box-sizing: border-box;
}
